@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*, ::before, ::after{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.17 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

.container{
  width: 100%;
}

@media (min-width: 640px){
  .container{
    max-width: 640px;
  }
}

@media (min-width: 768px){
  .container{
    max-width: 768px;
  }
}

@media (min-width: 1024px){
  .container{
    max-width: 1024px;
  }
}

@media (min-width: 1280px){
  .container{
    max-width: 1280px;
  }
}

@media (min-width: 1536px){
  .container{
    max-width: 1536px;
  }
}

.swip1 .swiper-pagination-bullet {
  /* width: 30px !important;
      height: 30px !important; */
  height: 10px;
  width: 10px;
  --tw-bg-opacity: 1;
  background-color: rgb(5 126 43 / var(--tw-bg-opacity, 1));
  opacity: 1
}

.swip1 .swiper-pagination-bullet-active{
  height: 10px;
  width: 10px;
  --tw-bg-opacity: 1;
  background-color: rgb(5 126 43 / var(--tw-bg-opacity, 1));
  outline-style: solid;
  outline-width: 2px;
  outline-offset: 4px;
  outline-color: #057e2b;
}

.swip2 .swiper-pagination-bullet {
  /* width: 30px !important;
        height: 30px !important; */
  height: 8px;
  width: 30px;
  border-radius: 9999px;
  opacity: 0.1;
  transition-property: width;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms
}

.swip2 .swiper-pagination-bullet-active{
  width: 50px;
  --tw-bg-opacity: 1;
  background-color: rgb(5 126 43 / var(--tw-bg-opacity, 1));
  opacity: 1;
  transition-property: width;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
}

.pointer-events-none{
  pointer-events: none;
}

.visible{
  visibility: visible;
}

.static{
  position: static;
}

.fixed{
  position: fixed;
}

.absolute{
  position: absolute;
}

.relative{
  position: relative;
}

.sticky{
  position: sticky;
}

.inset-0{
  inset: 0px;
}

.bottom-0{
  bottom: 0px;
}

.bottom-\[0px\]{
  bottom: 0px;
}

.left-0{
  left: 0px;
}

.left-\[-100px\]{
  left: -100px;
}

.left-\[50\%\]{
  left: 50%;
}

.right-0{
  right: 0px;
}

.right-\[30px\]{
  right: 30px;
}

.right-\[60px\]{
  right: 60px;
}

.right-\[62px\]{
  right: 62px;
}

.top-0{
  top: 0px;
}

.top-\[-40px\]{
  top: -40px;
}

.top-\[15\%\]{
  top: 15%;
}

.top-\[20\%\]{
  top: 20%;
}

.top-\[200px\]{
  top: 200px;
}

.top-\[50\%\]{
  top: 50%;
}

.z-40{
  z-index: 40;
}

.z-50{
  z-index: 50;
}

.z-\[-1\]{
  z-index: -1;
}

.z-\[1000\]{
  z-index: 1000;
}

.z-\[2000\]{
  z-index: 2000;
}

.z-\[3000\]{
  z-index: 3000;
}

.z-\[999\]{
  z-index: 999;
}

.m-auto{
  margin: auto;
}

.my-10{
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.my-4{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.my-8{
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.mb-11{
  margin-bottom: 2.75rem;
}

.mb-12{
  margin-bottom: 3rem;
}

.mb-2{
  margin-bottom: 0.5rem;
}

.mb-6{
  margin-bottom: 1.5rem;
}

.mb-8{
  margin-bottom: 2rem;
}

.ml-\[-10px\]{
  margin-left: -10px;
}

.ml-\[-50px\]{
  margin-left: -50px;
}

.mt-10{
  margin-top: 2.5rem;
}

.mt-28{
  margin-top: 7rem;
}

.mt-4{
  margin-top: 1rem;
}

.mt-5{
  margin-top: 1.25rem;
}

.mt-6{
  margin-top: 1.5rem;
}

.mt-\[-150px\]{
  margin-top: -150px;
}

.mt-\[3px\]{
  margin-top: 3px;
}

.mt-\[40px\]{
  margin-top: 40px;
}

.mt-\[50px\]{
  margin-top: 50px;
}

.block{
  display: block;
}

.inline-block{
  display: inline-block;
}

.flex{
  display: flex;
}

.grid{
  display: grid;
}

.hidden{
  display: none;
}

.h-7{
  height: 1.75rem;
}

.h-\[100px\]{
  height: 100px;
}

.h-\[100vh\]{
  height: 100vh;
}

.h-\[150px\]{
  height: 150px;
}

.h-\[210px\]{
  height: 210px;
}

.h-\[380px\]{
  height: 380px;
}

.h-\[40px\]{
  height: 40px;
}

.h-\[55px\]{
  height: 55px;
}

.h-\[5px\]{
  height: 5px;
}

.h-\[60px\]{
  height: 60px;
}

.h-\[65vh\]{
  height: 65vh;
}

.h-full{
  height: 100%;
}

.h-screen{
  height: 100vh;
}

.h-\[80px\]{
  height: 80px;
}

.h-12{
  height: 3rem;
}

.max-h-\[500px\]{
  max-height: 500px;
}

.w-7{
  width: 1.75rem;
}

.w-\[100px\]{
  width: 100px;
}

.w-\[150px\]{
  width: 150px;
}

.w-\[180px\]{
  width: 180px;
}

.w-\[300px\]{
  width: 300px;
}

.w-\[30px\]{
  width: 30px;
}

.w-\[380px\]{
  width: 380px;
}

.w-\[40\%\]{
  width: 40%;
}

.w-\[40px\]{
  width: 40px;
}

.w-\[50\%\]{
  width: 50%;
}

.w-\[55px\]{
  width: 55px;
}

.w-\[5px\]{
  width: 5px;
}

.w-\[60px\]{
  width: 60px;
}

.w-\[70\%\]{
  width: 70%;
}

.w-\[80\%\]{
  width: 80%;
}

.w-\[800px\]{
  width: 800px;
}

.w-full{
  width: 100%;
}

.w-screen{
  width: 100vw;
}

.w-\[80px\]{
  width: 80px;
}

.w-12{
  width: 3rem;
}

.max-w-0{
  max-width: 0px;
}

.max-w-\[1300px\]{
  max-width: 1300px;
}

.max-w-\[210px\]{
  max-width: 210px;
}

.max-w-\[900px\]{
  max-width: 900px;
}

.translate-x-\[-50\%\]{
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.translate-y-\[-50\%\]{
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.translate-y-\[10\%\]{
  --tw-translate-y: 10%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.translate-y-\[25\%\]{
  --tw-translate-y: 25%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.transform{
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

@keyframes spin{
  to{
    transform: rotate(360deg);
  }
}

.animate-spin{
  animation: spin 1s linear infinite;
}

@keyframes zoom{
  0%,100% {
    transform: scale(1);
  }

  50%{
    transform: scale(1.2);
  }
}

.animate-zoom{
  animation: zoom 10s infinite;
}

.resize{
  resize: both;
}

.grid-cols-2{
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-cols-4{
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-rows-1{
  grid-template-rows: repeat(1, minmax(0, 1fr));
}

.flex-col{
  flex-direction: column;
}

.place-content-center{
  place-content: center;
}

.items-end{
  align-items: flex-end;
}

.items-center{
  align-items: center;
}

.justify-center{
  justify-content: center;
}

.justify-between{
  justify-content: space-between;
}

.gap-1{
  gap: 0.25rem;
}

.gap-10{
  gap: 2.5rem;
}

.gap-12{
  gap: 3rem;
}

.gap-2{
  gap: 0.5rem;
}

.gap-3{
  gap: 0.75rem;
}

.gap-4{
  gap: 1rem;
}

.gap-5{
  gap: 1.25rem;
}

.gap-6{
  gap: 1.5rem;
}

.gap-8{
  gap: 2rem;
}

.gap-\[180px\]{
  gap: 180px;
}

.gap-\[200px\]{
  gap: 200px;
}

.gap-\[40px\]{
  gap: 40px;
}

.space-x-5 > :not([hidden]) ~ :not([hidden]){
  --tw-space-x-reverse: 0;
  margin-right: calc(1.25rem * var(--tw-space-x-reverse));
  margin-left: calc(1.25rem * calc(1 - var(--tw-space-x-reverse)));
}

.space-x-\[11px\] > :not([hidden]) ~ :not([hidden]){
  --tw-space-x-reverse: 0;
  margin-right: calc(11px * var(--tw-space-x-reverse));
  margin-left: calc(11px * calc(1 - var(--tw-space-x-reverse)));
}

.self-center{
  align-self: center;
}

.overflow-hidden{
  overflow: hidden;
}

.overflow-x-hidden{
  overflow-x: hidden;
}

.rounded-full{
  border-radius: 9999px;
}

.rounded-lg{
  border-radius: 0.5rem;
}

.rounded-xl{
  border-radius: 0.75rem;
}

.border{
  border-width: 1px;
}

.border-2{
  border-width: 2px;
}

.border-\[3px\]{
  border-width: 3px;
}

.border-\[6px\]{
  border-width: 6px;
}

.border-b{
  border-bottom-width: 1px;
}

.border-\[rgba\(0\2c 0\2c 0\2c 0\.2\)\]{
  border-color: rgba(0,0,0,0.2);
}

.border-black{
  --tw-border-opacity: 1;
  border-color: rgb(0 0 0 / var(--tw-border-opacity, 1));
}

.border-blue-500{
  --tw-border-opacity: 1;
  border-color: rgb(59 130 246 / var(--tw-border-opacity, 1));
}

.border-blue-600{
  --tw-border-opacity: 1;
  border-color: rgb(37 99 235 / var(--tw-border-opacity, 1));
}

.border-gray-200{
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity, 1));
}

.border-vert{
  --tw-border-opacity: 1;
  border-color: rgb(5 126 43 / var(--tw-border-opacity, 1));
}

.border-white{
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity, 1));
}

.border-red-500{
  --tw-border-opacity: 1;
  border-color: rgb(239 68 68 / var(--tw-border-opacity, 1));
}

.border-t-vert{
  --tw-border-opacity: 1;
  border-top-color: rgb(5 126 43 / var(--tw-border-opacity, 1));
}

.bg-\[rgba\(0\2c 0\2c 0\2c 0\.7\)\]{
  background-color: rgba(0,0,0,0.7);
}

.bg-black{
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity, 1));
}

.bg-blue-50{
  --tw-bg-opacity: 1;
  background-color: rgb(239 246 255 / var(--tw-bg-opacity, 1));
}

.bg-gray-100{
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity, 1));
}

.bg-slate-100{
  --tw-bg-opacity: 1;
  background-color: rgb(241 245 249 / var(--tw-bg-opacity, 1));
}

.bg-vert{
  --tw-bg-opacity: 1;
  background-color: rgb(5 126 43 / var(--tw-bg-opacity, 1));
}

.bg-white{
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.bg-yellow-500{
  --tw-bg-opacity: 1;
  background-color: rgb(234 179 8 / var(--tw-bg-opacity, 1));
}

.bg-red-500{
  --tw-bg-opacity: 1;
  background-color: rgb(239 68 68 / var(--tw-bg-opacity, 1));
}

.bg-\[url\(\'\.\.\/images\/bgfix\.png\'\)\]{
  background-image: url('../images/bgfix.png');
}

.bg-\[url\(\'\.\.\/images\/green\.png\'\)\]{
  background-image: url('../images/green.png');
}

.bg-\[url\(\'\.\.\/images\/orange\.jpg\'\)\]{
  background-image: url('../images/orange.jpg');
}

.bg-huilefirst{
  background-image: linear-gradient(to top, rgba(0,0,0,0.7) ,rgba(0,0,0,0.7) ),url('../images/huilefirst.jpg');
}

.bg-repar{
  background-image: linear-gradient(to top, rgba(0,0,0,0.7) ,rgba(0,0,0,0.7) ),url('../images/repar.jpeg');
}

.bg-solo{
  background-image: linear-gradient(to top, rgba(0,0,0,0.7) ,rgba(0,0,0,0.7) ),url('../images/solorepar.jpg');
}

.bg-cover{
  background-size: cover;
}

.bg-center{
  background-position: center;
}

.bg-top{
  background-position: top;
}

.object-cover{
  -o-object-fit: cover;
     object-fit: cover;
}

.object-center{
  -o-object-position: center;
     object-position: center;
}

.p-6{
  padding: 1.5rem;
}

.p-\[120px\]{
  padding: 120px;
}

.p-1{
  padding: 0.25rem;
}

.px-10{
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.px-16{
  padding-left: 4rem;
  padding-right: 4rem;
}

.px-3{
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.px-4{
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-5{
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.px-7{
  padding-left: 1.75rem;
  padding-right: 1.75rem;
}

.px-8{
  padding-left: 2rem;
  padding-right: 2rem;
}

.px-\[120px\]{
  padding-left: 120px;
  padding-right: 120px;
}

.px-\[15px\]{
  padding-left: 15px;
  padding-right: 15px;
}

.px-\[30px\]{
  padding-left: 30px;
  padding-right: 30px;
}

.px-\[60px\]{
  padding-left: 60px;
  padding-right: 60px;
}

.py-10{
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.py-16{
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.py-3{
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.py-5{
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.py-6{
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.py-\[100px\]{
  padding-top: 100px;
  padding-bottom: 100px;
}

.py-\[120px\]{
  padding-top: 120px;
  padding-bottom: 120px;
}

.py-\[55px\]{
  padding-top: 55px;
  padding-bottom: 55px;
}

.py-\[65px\]{
  padding-top: 65px;
  padding-bottom: 65px;
}

.pb-32{
  padding-bottom: 8rem;
}

.pb-8{
  padding-bottom: 2rem;
}

.pl-\[100px\]{
  padding-left: 100px;
}

.pt-32{
  padding-top: 8rem;
}

.pt-52{
  padding-top: 13rem;
}

.pt-\[10px\]{
  padding-top: 10px;
}

.pt-\[129px\]{
  padding-top: 129px;
}

.text-center{
  text-align: center;
}

.text-right{
  text-align: right;
}

.font-jost{
  font-family: jost;
}

.font-kanit{
  font-family: kanit;
}

.text-\[100px\]{
  font-size: 100px;
}

.text-\[16px\]{
  font-size: 16px;
}

.text-\[18px\]{
  font-size: 18px;
}

.text-\[20px\]{
  font-size: 20px;
}

.text-\[22px\]{
  font-size: 22px;
}

.text-\[23px\]{
  font-size: 23px;
}

.text-\[24px\]{
  font-size: 24px;
}

.text-\[25px\]{
  font-size: 25px;
}

.text-\[30px\]{
  font-size: 30px;
}

.text-\[38px\]{
  font-size: 38px;
}

.text-\[39px\]{
  font-size: 39px;
}

.text-\[40px\]{
  font-size: 40px;
}

.text-\[60px\]{
  font-size: 60px;
}

.text-\[64px\]{
  font-size: 64px;
}

.font-\[200\]{
  font-weight: 200;
}

.font-\[300\]{
  font-weight: 300;
}

.font-\[350\]{
  font-weight: 350;
}

.font-\[600\]{
  font-weight: 600;
}

.font-bold{
  font-weight: 700;
}

.font-normal{
  font-weight: 400;
}

.uppercase{
  text-transform: uppercase;
}

.capitalize{
  text-transform: capitalize;
}

.leading-\[30px\]{
  line-height: 30px;
}

.leading-\[50px\]{
  line-height: 50px;
}

.leading-\[80px\]{
  line-height: 80px;
}

.text-\[rgba\(0\2c 0\2c 0\2c 0\.4\)\]{
  color: rgba(0,0,0,0.4);
}

.text-\[rgba\(0\2c 0\2c 0\2c 0\.6\)\]{
  color: rgba(0,0,0,0.6);
}

.text-\[rgba\(0\2c 0\2c 0\2c 0\.7\)\]{
  color: rgba(0,0,0,0.7);
}

.text-\[rgba\(255\2c 255\2c 255\2c 0\.4\)\]{
  color: rgba(255,255,255,0.4);
}

.text-black{
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity, 1));
}

.text-vert{
  --tw-text-opacity: 1;
  color: rgb(5 126 43 / var(--tw-text-opacity, 1));
}

.text-white{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.text-yellow-400{
  --tw-text-opacity: 1;
  color: rgb(250 204 21 / var(--tw-text-opacity, 1));
}

.text-yellow-500{
  --tw-text-opacity: 1;
  color: rgb(234 179 8 / var(--tw-text-opacity, 1));
}

.opacity-0{
  opacity: 0;
}

.opacity-40{
  opacity: 0.4;
}

.opacity-80{
  opacity: 0.8;
}

.opacity-50{
  opacity: 0.5;
}

.shadow{
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.\!outline-none{
  outline: 2px solid transparent !important;
  outline-offset: 2px !important;
}

.outline{
  outline-style: solid;
}

.outline-1{
  outline-width: 1px;
}

.outline-offset-\[14px\]{
  outline-offset: 14px;
}

.outline-yellow-500{
  outline-color: #eab308;
}

.blur{
  --tw-blur: blur(8px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.invert{
  --tw-invert: invert(100%);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.filter{
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.transition-\[color\]{
  transition-property: color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-\[max-width\]{
  transition-property: max-width;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-all{
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition{
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-\[width\2c height\]{
  transition-property: width,height;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.delay-200{
  transition-delay: 200ms;
}

.delay-\[250ms\]{
  transition-delay: 250ms;
}

.duration-300{
  transition-duration: 300ms;
}

.duration-500{
  transition-duration: 500ms;
}

.polygon{
  clip-path: polygon(0 0, 0 100%, 92% 100% ,100% 0%);
}

.shad1{
  box-shadow: rgb(255, 187, 23) 0px 6px 100px 0px;
}

.scrollbar::-webkit-scrollbar {
  width: 4px;
  /* Scrollbar width */
  height: 10px;
  /* Scrollbar height (for horizontal scrollbars) */
}

.\!scrollbar::-webkit-scrollbar {
  width: 4px !important;
  /* Scrollbar width */
  height: 10px !important;
  /* Scrollbar height (for horizontal scrollbars) */
}

.scrollbar::-webkit-scrollbar-track {
  background: rgba(5, 126, 43,0.5);
  /* Background color of the scrollbar track */
}

.\!scrollbar::-webkit-scrollbar-track {
  background: rgba(5, 126, 43,0.5) !important;
  /* Background color of the scrollbar track */
}

.scrollbar::-webkit-scrollbar-thumb {
  background:rgba(5, 126, 43,1);
  /* Scrollbar thumb color */
  border-radius: 10px;
  /* Rounded corners for the scrollbar thumb */
}

.\!scrollbar::-webkit-scrollbar-thumb {
  background:rgba(5, 126, 43,1) !important;
  /* Scrollbar thumb color */
  border-radius: 10px !important;
  /* Rounded corners for the scrollbar thumb */
}

/* .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555; 
} */

.before\:absolute::before{
  content: var(--tw-content);
  position: absolute;
}

.before\:bottom-0::before{
  content: var(--tw-content);
  bottom: 0px;
}

.before\:top-0::before{
  content: var(--tw-content);
  top: 0px;
}

.before\:z-\[-1\]::before{
  content: var(--tw-content);
  z-index: -1;
}

.before\:m-auto::before{
  content: var(--tw-content);
  margin: auto;
}

.before\:h-\[115px\]::before{
  content: var(--tw-content);
  height: 115px;
}

.before\:h-full::before{
  content: var(--tw-content);
  height: 100%;
}

.before\:w-0::before{
  content: var(--tw-content);
  width: 0px;
}

.before\:w-\[115px\]::before{
  content: var(--tw-content);
  width: 115px;
}

.before\:translate-x-\[-50\%\]::before{
  content: var(--tw-content);
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

@keyframes wave{
  70%{
    content: var(--tw-content);
    box-shadow:  rgba(244, 68, 56, 0) 0px 0px 0px 40px;
  }

  100%{
    content: var(--tw-content);
    box-shadow:  rgba(244, 68, 56, 0) 0px 0px 0px 0px;
  }
}

.before\:animate-wavy::before{
  content: var(--tw-content);
  animation: wave 3s ease 300ms infinite;
}

.before\:overflow-hidden::before{
  content: var(--tw-content);
  overflow: hidden;
}

.before\:rounded-full::before{
  content: var(--tw-content);
  border-radius: 9999px;
}

.before\:bg-black::before{
  content: var(--tw-content);
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity, 1));
}

.before\:bg-white::before{
  content: var(--tw-content);
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.before\:text-black::before{
  content: var(--tw-content);
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity, 1));
}

.before\:transition-\[width\]::before{
  content: var(--tw-content);
  transition-property: width;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.before\:delay-75::before{
  content: var(--tw-content);
  transition-delay: 75ms;
}

.before\:duration-500::before{
  content: var(--tw-content);
  transition-duration: 500ms;
}

.before\:content-\[\'\'\]::before{
  --tw-content: '';
  content: var(--tw-content);
}

.before\:shad2::before{
  content: var(--tw-content);
  box-shadow: rgba(255, 255, 255, 0.5) 0px 0px 0px 0px;
}

.after\:absolute::after{
  content: var(--tw-content);
  position: absolute;
}

.after\:bottom-0::after{
  content: var(--tw-content);
  bottom: 0px;
}

.after\:bottom-1::after{
  content: var(--tw-content);
  bottom: 0.25rem;
}

.after\:left-0::after{
  content: var(--tw-content);
  left: 0px;
}

.after\:right-0::after{
  content: var(--tw-content);
  right: 0px;
}

.after\:top-0::after{
  content: var(--tw-content);
  top: 0px;
}

.after\:z-\[-1\]::after{
  content: var(--tw-content);
  z-index: -1;
}

.after\:m-auto::after{
  content: var(--tw-content);
  margin: auto;
}

.after\:h-\[115px\]::after{
  content: var(--tw-content);
  height: 115px;
}

.after\:h-full::after{
  content: var(--tw-content);
  height: 100%;
}

.after\:w-\[100\%\]::after{
  content: var(--tw-content);
  width: 100%;
}

.after\:w-\[115px\]::after{
  content: var(--tw-content);
  width: 115px;
}

.after\:max-w-0::after{
  content: var(--tw-content);
  max-width: 0px;
}

.after\:translate-x-\[-50\%\]::after{
  content: var(--tw-content);
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

@keyframes vol{
  50%{
    content: var(--tw-content);
    max-width:  200px;
  }

  100%{
    content: var(--tw-content);
    box-shadow:  0px;
  }
}

.after\:animate-vol::after{
  content: var(--tw-content);
  animation: vol 2s ease 0s infinite;
}

@keyframes wave{
  70%{
    content: var(--tw-content);
    box-shadow:  rgba(244, 68, 56, 0) 0px 0px 0px 40px;
  }

  100%{
    content: var(--tw-content);
    box-shadow:  rgba(244, 68, 56, 0) 0px 0px 0px 0px;
  }
}

.after\:animate-wave::after{
  content: var(--tw-content);
  animation: wave 3s ease 0s infinite;
}

.after\:overflow-hidden::after{
  content: var(--tw-content);
  overflow: hidden;
}

.after\:rounded-full::after{
  content: var(--tw-content);
  border-radius: 9999px;
}

.after\:bg-gray-100::after{
  content: var(--tw-content);
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity, 1));
}

.after\:text-black::after{
  content: var(--tw-content);
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity, 1));
}

.after\:content-\[\'\'\]::after{
  --tw-content: '';
  content: var(--tw-content);
}

.after\:content-\[\'a\'\]::after{
  --tw-content: 'a';
  content: var(--tw-content);
}

.after\:content-\[\'e\'\]::after{
  --tw-content: 'e';
  content: var(--tw-content);
}

.after\:content-\[\'j\'\]::after{
  --tw-content: 'j';
  content: var(--tw-content);
}

.after\:content-\[\'n\'\]::after{
  --tw-content: 'n';
  content: var(--tw-content);
}

.after\:content-\[\'p\'\]::after{
  --tw-content: 'p';
  content: var(--tw-content);
}

.after\:shad2::after{
  content: var(--tw-content);
  box-shadow: rgba(255, 255, 255, 0.5) 0px 0px 0px 0px;
}

.hover\:relative:hover{
  position: relative;
}

.hover\:z-10:hover{
  z-index: 10;
}

.hover\:translate-x-2:hover{
  --tw-translate-x: 0.5rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.hover\:bg-black:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity, 1));
}

.hover\:bg-vert:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(5 126 43 / var(--tw-bg-opacity, 1));
}

.hover\:text-black:hover{
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity, 1));
}

.hover\:text-vert:hover{
  --tw-text-opacity: 1;
  color: rgb(5 126 43 / var(--tw-text-opacity, 1));
}

.hover\:text-white:hover{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.hover\:before\:w-full:hover::before{
  content: var(--tw-content);
  width: 100%;
}

.group\/five:hover .group-hover\/five\:max-w-\[200px\]{
  max-width: 200px;
}

.group\/one:hover .group-hover\/one\:max-w-\[300px\]{
  max-width: 300px;
}

.group\/deu:hover .group-hover\/deu\:text-white{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.group\/pre:hover .group-hover\/pre\:text-white{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.group\/tro:hover .group-hover\/tro\:text-white{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}